<div class="section-banner-white">
	<div class="row">
			<h2>KNOW MORE OF ME ...</h2>
	</div>
</div>
<div class="light_section">
	<div class="row">		
		<div class="large-4 columns">
				<h3 class="table-header-white">TALK TO ME</h3>
				<div class="more_content">
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns label">PHONE</div>
						<div class="large-8 small-8 columns value">+61 2 92397825</div>
					</div>
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns label">MOBILE</div>
						<div class="large-8 small-8 columns value">+61 0425349793</div>
					</div>
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns label">EMAIL</div>
						<div class="large-8 small-8 columns value"><span>irisjacky99@gmail.com</span></div>
					</div>										
				</div>
		</div>	
		<div class="large-4 columns">
				<h3 class="table-header-white">CONNECT WITH ME</h3>
				<div class="more_content">
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">LET'S SOCIAL.</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-centered small-centered columns">
							<span class="social_icons">
							<%= link_to image_tag('facebook.png', :mouseover => 'facebook_hover.png',:focus => 'facebook_hover.png' ), "http://www.facebook.com/qiang.fang.16", :target => "_blank" %>	
							</span>
							<span class="social_icons">
								<%= link_to image_tag('linkedin.png', :mouseover => 'linkedin_hover.png', :focus =>'linkedin_hover.png'), "http://au.linkedin.com/pub/dir/Jacky/Fang", :target => "_blank" %>	
							</span>
						</div>
					</div>
				</div>
		</div>
		<div class="large-4 columns">
			<h3 class="table-header-white">KNOW MY COMPANY</h3>
			<div class="more_content">
					<div class="row table_content">
						<div class="large-7 small-7 large-centered small-centered columns">
						<%= link_to image_tag('macquarie_uni_icon.png'), "http://www.mq.edu.au", :target => "_blank" %>		
						</div>												
					</div>		
					<div class="row table_content">
						<div class="large-7 small-7 large-centered small-centered columns">
							<%= link_to image_tag('qbe_logo.png'), "http://www.qbe.com.au", :target => "_blank" %>			
						</div>												
					</div>										
			</div>
		</div>	
	</div>
</div>
