<div id="masthead">
	<div class='row'>
		<div class="large-12 columns"> 
			<h1 class="hide-for-small">I am passionate about the role that technology can play in business. I make technology easy to understand and strive to bring innovative solutions to complex business problems. I have a history of success in doing so.</h1>
			<h1 class="show-for-small">I make technology easy to understand and strive to bring innovative solutions to complex business problems.</h1>
		</div>
	</div>
</div>
