<div id="masthead">
	<div class='row'>
		<div class="large-12 columns"> 
			<h1>The passion of technology is part of my life. I make technology easier to understand by bringing innovative solutions to complex business problems.</h1>
		</div>
	</div>
</div>
