<div id="project_details" class="project_section hidden_content">
	<div class="row">
		<div class="large-12 small-12 columns">
			<h2>10+ YEARS ON, 20+ PROJECTS. <em>HERE ARE SOME CRITICAL PROJECTS I HAVE LED.</em></h2>
		</div>
	</div>
	<!-- first row projects -->
	<div class="row">		
		<div class="large-4 columns">
				<h3 class="table-header-black">NAB ON BOARD</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">2 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">1 billion dollar contract between QBE and NAB</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Create b2b integration throughout mortgage lifecyle, include premium quote, application approval, payment, termination and claims.</div>
					</div>									
				</div>
		</div>	
		<div class="large-4 columns">
				<h3 class="table-header-black">LMICONNECT</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">3 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">One Stop Customer Service Portal</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Delivered online platform to all support services throughout the mortgage insurance lifecycle including premium quote, policy inquiry, online arrears and claims, policy terminations.</div>
					</div>									
				</div>
		</div>
		<div class="large-4 columns">
			<h3 class="table-header-black">NEXT GEN UNDERWRITING</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">2 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">Retire 23 old AS400 legacy system.</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Build a brand new underwriting system to replace AS400 legacy. Migrated 500+ tables with hundreds of millions of production records.</div>
					</div>									
				</div>
		</div>	
	</div>
	<!-- second row project experience -->
	<div class="row">		
		<div class="large-4 columns">
				<h3 class="table-header-black">WESTPAC ON BOARD</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">1 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">80 millions premium per annum.</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Create</div>
					</div>									
				</div>
		</div>	
		<div class="large-4 columns">
				<h3 class="table-header-black">LMICONNECT MOBILE</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">3 months</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">Remove paper rate cards</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value"></div>
					</div>									
				</div>
		</div>
		<div class="large-4 columns">
			<h3 class="table-header-black">ENTERPRISE MODEL</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">5 months</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">1 billion dollar contract between QBE and NAB</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value"></div>
					</div>									
				</div>
		</div>	
	</div>

</div>