<div id="project_details" class="project_section hidden_content">
	<div class="row">
		<div class="large-12 small-12 columns">
			<h2>10+ YEARS ON, 20+ PROJECTS. <em>HERE ARE SOME CRITICAL PROJECTS I HAVE LED.</em></h2>
		</div>
	</div>
	<!-- first row projects -->
	<div class="row">		
		<div class="large-4 columns">
				<h3 class="table-header-black">NAB ON BOARD</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">2 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">1 billion dollar contract between QBE and NAB</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Create b2b integration throughout mortgage lifecyle, include premium quote, application approval, payment, termination and claims.</div>
					</div>									
				</div>
		</div>	
		<div class="large-4 columns">
				<h3 class="table-header-black">LMICONNECT</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">3 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">One Stop Customer Service Portal</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Delivered one-stop online platform for lender mortgage insurance, including services throughout the mortgage insurance lifecycle including premium quote, policy inquiry, payment and suspense management, arrears, claims, and policy terminations.</div>
					</div>									
				</div>
		</div>
		<div class="large-4 columns">
			<h3 class="table-header-black">NEXT GEN UNDERWRITING</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">5 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">Retire 23 old AS400 legacy system.</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Build a brand new feature rich and high available underwriting system to replace 23 years AS400 legacy. Migrated 1000+ tables with hundreds of millions of production records. We took a piecemeal approach, built out all features from legacy till 2010, a mission was considered as impossible by many people at a stage. </div>
					</div>									
				</div>
		</div>	
	</div>
	<!-- second row project experience -->
	<div class="row">		
		<div class="large-4 columns">
				<h3 class="table-header-black">REINSURACE ORIGINATION</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">1 YEARS</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">100+ millions premium per annum.</div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Delivered the platform and process to originate reinsurance policies generated under quota share and excess of loss reinsurance arrangement. It also integrate with data warehouse for business analysis. </div>
					</div>									
				</div>
		</div>	
		<div class="large-4 columns">
				<h3 class="table-header-black">LMICONNECT MOBILE</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">3 months</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value">Enable the business </div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">Major innovation for the QBE, it brought the mortgage insurance service, such as, premium quote and product lookup to mobile lender's pocket. The delivery of lmiConnect Mobile enables the complete removal of paper rate card and product information, and allowed QBELMI to change premium rate as fast as possible, which played as a core factor for success of an insurance business,</div>
					</div>									
				</div>
		</div>
		<div class="large-4 columns">
			<h3 class="table-header-black">PRODUCT AND PRICING REDESIGN</h3>
				<div class="project_content">
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">LENGTH</div>
						<div class="large-7 small-7 columns value">18 months</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-4 large-offset-1 small-offset-1 columns label">BUSINESS VALUE</div>
						<div class="large-7 small-7 columns value"> </div>
					</div>
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">DESCRIPTION</div>
					</div>	
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns value">The project enables QBELMI to move to true risk based pricing by realigned the product based on latest research. The rate cards used by the new engine shrinked to hundreds from hundreds of thousands. It also delivers a business rule management platform to enable credit risk team to manage rule changes instead of relying on IT team. Combined with the lmiConnect mobile delivery, it enables the buiness to perform lighting fast product and rate changes to react to the market changes.</div>
					</div>									
				</div>
		</div>	
	</div>

</div>