<div class="section-banner-white">
	<div class="row">
			<h2>TIME LINE</h2>
	</div>
</div>
<div class="light_section">
	<div class="large_view_padding hide-for-large-down">
		<%= image_tag "timeline_full.png" %>	
	</div>
	<div class="row hide-for-large-up">
		<div class="large-12 columns">
			<%= image_tag("timeline_full.png", :class => "hide-for-small") %>
			<ul class="vertical-timeline show-for-small">
				<li class="timeline-content">
					<span>1977</span>
					<h3>FIRST BREATH</h3>
					<p>Born 14th July 1977</p>
				</li>
				<li class="timeline-content">
					<span>2002</span>
					<h3>ARRIVE IN AUSTRALIA</h3>
					<p>Master of information Technology, Macquarie University</p>
				</li>
				<li class="timeline-content">
					<span>2004</span>
					<h3>MELCO</h3>
					<p>Joined Maquarie E-Learning Center of Exellence as <em>Java Developer</em></p>
				</li>
				<li class="timeline-content">
					<span>2005</span>
					<h3>QBE</h3>
					<p>Joined QBELMI as <em>software engineer</em></p>
				</li>
				<li class="timeline-content">
					<span>2006</span>
					<h3>SENIOR ENGINEER</h3>
					<p>QBELMI <br/>promotion in one year</p>
				</li>
				<li class="timeline-content">
					<span>2007</span>
					<h3>SOLUTION DELIVERY MANAGER</h3>
					<p>QBELMI </br>another promotion in a year. </p>
				</li>												
				<li class="timeline-content">
					<span>2007</span>
					<h3>HIGH ACHIVER OF THE YEAR NOMINATION</h3>
					<p>the highest honor of QBELMI</p>
				</li>	
				<li class="timeline-content">
					<span>2009</span>
					<h3>LMICONNECT DELIVERY</h3>
					<p>one stop service portal for entire lifecycle of mortgage insurance</p>
				</li>
				<li class="timeline-content">
					<span>2010</span>
					<h3>NEXT GEN UNDERWRITING</h3>
					<p>Replaced 23 years old AS400 mainframe system <br/> DB migration of 1000+ tables.</p>
				</li>
				<li class="timeline-content">
					<span>2010</span>
					<h3>ARCHITECT</h3>
					<p>promoted to look after technology direction and solution govenance</p>
				</li>	
				<li class="timeline-content">
					<span>2012</span>
					<h3>LMICONNECT MOBILE</h3>
					<p>First Mobile service delivered within QBE.</p>
				</li>								
			</ul>
		</div>
	</div>
</div>
