<div class="section-banner-white">
	<div class="row">
			<h2>TIME LINE</h2>
	</div>
</div>
<div class="light_section">
	<div class="row">
		<div class="large-12 columns">
			<%= image_tag "timeline_full.png" %>
		</div>
	</div>
</div>
