<div class="section-banner-white">
	<div class="row">
			<h2>TIME LINE</h2>
	</div>
</div>
<div class="light_section">
	<div class="large_view_padding show-for-large-up">
		<%= image_tag "timeline_full.png" %>	
	</div>
	<div class="row hide-for-large-up">
		<div class="large-12 columns">
			<%= image_tag("timeline_full.png", :class => "hide-for-small") %>
			<ul class="vertical-timeline show-for-small">
				<li class="timeline-content">
					<span>1977</span>
					<h3>First Breath</h3>
					<p>Born 14th July 1977</p>
				</li>
				<li class="timeline-content">
					<span>2002</span>
					<h3>Arrived in Australis</h3>
					<p>Master of information Technology, Macquarie University</p>
				</li>
				<li class="timeline-content">
					<span>2004</span>
					<h3>MELCO</h3>
					<p>Joined Maquarie E-Learning Center of Exellence as <em>Java Developer</em></p>
				</li>
				<li class="timeline-content">
					<span>2005</span>
					<h3>QBE</h3>
					<p>Joined QBELMI as <em>software engineer</em></p>
				</li>
				<li class="timeline-content">
					<span>2006</span>
					<h3>Senior Engineer</h3>
					<p>QBELMI <br/>promotion in one year</p>
				</li>
				<li class="timeline-content">
					<span>2007</span>
					<h3>Solution Delivery Manager</h3>
					<p>QBELMI </br>another promotion in a year. </p>
				</li>												
				<li class="timeline-content">
					<span>2007</span>
					<h3>High Achiever of the year nomination</h3>
					<p>the highest honor of QBELMI</p>
				</li>	
				<li class="timeline-content">
					<span>2010</span>
					<h3>lmiCONNECT Delivery</h3>
					<p>Next genettration online platform that replced 23 years old AS400 Mainframe system.</p>
				</li>
				<li class="timeline-content">
					<span>2010</span>
					<h3>Lead ARCHITECT</h3>
					<p>Leads enterprise architecture decisions for QBELMI</p>
				</li>	
				<li class="timeline-content">
					<span>2013</span>
					<h3>Devlivery Manager, QBE Australia</h3>
					<p>Promoted to manage 5 Accenture teams under the new outsourcing model for QBE Australia.</p>
				</li>				
				<li class="timeline-content">
					<span>2015,2016</span>
					<h3>Direct Insurance platform and DevOps pioneer</h3>
					<p>Drive the delivery of QBE’s 30 million dollar direct insurance platform, established DevOps operational model for QBE Australia.</p>
				</li>								
			</ul>
		</div>
	</div>
</div>
