<div id="masthead">
	<%= render 'personal_statement' %>
</div>
<div class="section-banner">
	<div class="container">
		<h2>AT WORK, I AM...</h2>
	</div>
</div>
<div class="highlight">
	<%= render 'highlight' %>
<div>

