

$vividwhite: #fefdfd;
$bannerdarkgrey: #464646;
$bannertextgrey: #737272;
$sectiondarkgrey: #363535;
$bannerwhite: #f3f2f2;


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  font-weight: 200;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: $vividwhite;
}


h2 {
  font-size: 2.0em;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 6px;
  color: $bannertextgrey;
}

h3 {
	font-size: 2.5em;
	letter-spacing: 0px;
	font-weight: 200;
	text-align: center;
	font-family:'Yanone Kaffeesatz', sans-serif;
  color: $bannertextgrey;
}


/* header  */

#site-header {
	padding: 15px;
	border: 0px none;
	height: 130px;
	background: image-url("header_bg_black_ptn.png") repeat,
	image-url("header_bg.png") repeat-x

}

#masthead{
	//height: 156px;
	padding: 35px 0px 40px;
	background: #ec6d46; /* Old browsers */
	background: -moz-linear-gradient(top, #ec6d46 0%, #ec6d46 0%, #ec6d46 0%, #f69656 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6d46), color-stop(0%,#ec6d46), color-stop(0%,#ec6d46), color-stop(100%,#f69656)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6d46', endColorstr='#f69656',GradientType=0 ); /* IE6-9 */
	clear: both;
}



/* sections */

.section-banner {
	padding: 0px;
	border: 0px none;	
	background:$bannerdarkgrey image-url("header_bg_black_ptn.png") repeat;
	clear: both;
}

.section-banner-white {
	padding: 0px;
	border: 0px none;	
	background:$bannerwhite image-url("header_bg_creamy_ptn.png") repeat;
	clear: both;
}

.dark_section {
	padding: 0px 0px 0px;
	border: 0px none;		
	background: $sectiondarkgrey;
	clear: both;
}

.highlight_preview{
	display: block;
	margin: 40px auto 30px;
	max-height: 75px
}

.imgbutton_middle{
	display: block;
	margin: 0px auto 20px;
}

.light_section{
	height: 300px;
	background: #f5f5f5;
}


