

$vividwhite: #fefdfd;
$bannerdarkgrey: #464646;
$bannertextgrey: #737272;
$sectiondarkgrey: #363535;
$bannerwhite: #f3f2f2;


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  font-weight: 200;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: $vividwhite;
}


h2 {
  font-size: 2.0em;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 6px;
  color: $bannertextgrey;
}

h3 {
	font-size: 1.6em;
	letter-spacing: 0px;
	font-weight: 400;
	text-align: center;
	font-family:'Yanone Kaffeesatz', sans-serif;
	margin-bottom: 0px;
    color: $bannertextgrey;
}

h4 {
	font-size: 1.2em;
	letter-spacing: 0px;
	font-weight: 300;
	text-align: center;
	font-family:'Yanone Kaffeesatz', sans-serif;
  	color: #eb6d56;

}

h5 {
	font-size: 1.1em;
	letter-spacing: 0px;
	font-weight: 300;
	text-align: left;
	font-family:'Yanone Kaffeesatz', sans-serif;
  	color: $vividwhite;	
  	em{
  		color: #eb6d56;	
  		font-style:normal;
  	}
}


ul{
	margin: 3px;
}
/* header  */

#site-header {
	padding: 15px;
	border: 0px none;
	height: 130px;
	background: image-url("header_bg_black_ptn.png") repeat,
	image-url("header_bg.png") repeat-x

}

#masthead{
	//height: 156px;
	padding: 35px 0px 40px;
	background: #ec6d46; /* Old browsers */
	background: -moz-linear-gradient(top, #ec6d46 0%, #ec6d46 0%, #ec6d46 0%, #f69656 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6d46), color-stop(0%,#ec6d46), color-stop(0%,#ec6d46), color-stop(100%,#f69656)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ec6d46 0%,#ec6d46 0%,#ec6d46 0%,#f69656 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6d46', endColorstr='#f69656',GradientType=0 ); /* IE6-9 */
	clear: both;
}



/* sections */

.section-banner {
	padding: 0px;
	border: 0px none;	
	background:$bannerdarkgrey image-url("header_bg_black_ptn.png") repeat;
	clear: both;
}

.section-banner-white {
	padding: 0px;
	border: 0px none;	
	background:$bannerwhite image-url("header_bg_creamy_ptn.png") repeat;
	clear: both;
}

.table-header-white{
	padding: 10px 0px 10px;
	border: 0px none;	
	background:$bannerwhite image-url("header_bg_creamy_ptn.png") repeat;
}

.table-header-black{
	padding: 10px 0px 10px;
	border: 0px none;	
	background:$bannerdarkgrey image-url("header_bg_black_ptn.png") repeat;
}


.dark_section {
	padding: 0px 0px 0px 0px;
	border: 0px none;		
	background: $sectiondarkgrey;
	clear: both;
}

.imgbutton_middle{
	display: block;
	margin: 0px auto 20px;
}

.light_section{
	padding: 20px 0px 50px;
	background: #f5f5f5;
	clear: both;	
}
.separator{
	height: 80px;
}


.panel_container{
	padding: 0px 0px 10px 0px;
}

[data-clearing] li {
	margin-right: 0px;
	margin-bottom: 0px;
	
}

.large_view_padding{
	padding: 20px 100px 0px 100px;
}

.gallery{
	padding: 5px 5px 5px 5px;	
}

.hidden_content{
	display:none;
}


/** hightlight */
#highlight_dtl_header{
	padding: 25px 0px 0px 0px;
}

#personal_highlights{
	padding: 5px 20px 10px 20px;
}

.highlight_preview{
	display: block;
	margin: 40px auto 30px;
	max-height: 75px
}

.hightlight_panel{
	
	padding: 40px 10px 0px;
	background: #2a2a2a;
	height: 180px;
	clear: both;
	margin-bottom: 10px;
}

.highlight_detail_img{
	max-height: 70px
}

.no-bullets{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.project_section{
	padding: 20px 0px 50px;
	border: 0px none;		
	background: #434242;
	clear: both;	

	h2{
	  font-weight: 200;
	  color: #c6c6c6;	
	  em{
  		font-style:normal;	  	
	  	color: #737272;
	  }		  	
	}

	h3{
		font-weight: 300;		
    	color: #989898;		
	}

	.label{
		background: transparent;
		color: #a9a6a6;
		text-align: left;
		font-size: 1.2em;	
	    font-weight: 300;
	    font-family:'Yanone Kaffeesatz', sans-serif;		
	}	

	.value{
		background: transparent;
		color: $vividwhite;
		text-align: left;
		font-size: 1.1em;	
	    font-weight: 300;
	    font-family:'Yanone Kaffeesatz', sans-serif;	
	}	
}

.project_content{
	padding: 20px 0px 20px;
	//height: 200px;
	background: $sectiondarkgrey;
	clear: both;	
}



/** know more of me */
.more_content{
	padding: 20px 0px 20px;
	height: 200px;
	background: #e6e6e6;
	clear: both;
}

.label{
	//color: rgb(153, 153, 153);
	background: transparent;
	color: $sectiondarkgrey;
	text-align: left;
	font-size: 1em;	
}

.value{
	background: transparent;
	color: $bannertextgrey;
	font-size: 1em;	
}

.table_content{
	padding: 6px 0px 6px;
}
.no_gap{
	display:block;
	float:left;
	margin-right: 0px;
}

