$sectiondarkgrey: #363535;
$bannertextgrey: #737272;
$vividwhite: #fefdfd;

@media only screen and (max-width: 768px) {

	h1 {
	  font-size: 2em;
	  letter-spacing: 1px;
	}

	#site-header{
		h1{
			padding: 20px 0px 0px 0px;
			text-align: center;
			font-size: 2.2em;
		}
	}

	.profile{
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	max-height: 120px;		
	}
}

@media only screen and (max-width: 600px) {

	h1 {
	  font-size: 2em;
	  letter-spacing: 1px;
	}

	.more_content{
		height: auto;
	}	

	.hightlight_panel{
		padding: 10px 10px 10px;		
		height: auto;
	}

	.project_section{
		.project_content{
			height: auto;	
		}
	}



}

@media only screen and (max-width: 450px) {
	h6 {
		font-size: 0.8em;
		letter-spacing: 0px;
		font-weight: 300;
		text-align: left;
		font-family:'Yanone Kaffeesatz', sans-serif;
	  	color: $vividwhite;	
	  	em{
	  		color: #eb6d56;	
	  		font-style:normal;
	  	}
	}
}

