$sectiondarkgrey: #363535;
$bannertextgrey: #737272;

@media only screen and (max-width: 768px) {

	h1 {
	  font-size: 2em;
	  letter-spacing: 1px;
	}

	.label{
		background: transparent;
		color: $sectiondarkgrey;
		text-align: left;
  		font-size: 0.7em;		
	}

	.value{
		background: transparent;
		color: $bannertextgrey;
		font-size: 0.7em;
	}	

}

@media only screen and (max-width: 600px) {

	h1 {
	  font-size: 2em;
	  letter-spacing: 1px;
	}

	.label{
		background: transparent;
		color: $sectiondarkgrey;
		text-align: left;
  		font-size: 1.2em;		
	}

	.value{
		background: transparent;
		color: $bannertextgrey;
		font-size: 1.2em;
	}	

}